extends components/template.pug

block content
  section.hero 
    .hero__left 
      h1.hero__title Check the #[br]best food
      p.hero__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, libero.
      button.hero__button Book a table
    figure.hero__right 
      img(src="../images/hero.jpg", alt="Plato de pasta con salsa y verduras")
