extends components/template.pug

block content
  section.hero 
    .hero__left 
      h1.hero__title Check the #[br]best food
      p.hero__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, libero.
      button.hero__button Book a table
    figure.hero__right 
      img(src="images/hero.jpg", alt="Plato de pasta con salsa y verduras")
  
  section.products
    h2.products__title Our services
    figure.products__grid-container
      img.products__item.products__item--big(src="images/video.jpg", alt="Plato de pasta")
      img.products__item(src="images/dish1.jpg", alt="Plato de vegetales")
      img.products__item(src="images/dish2.jpg", alt="Tostada con palta y huevo")
      img.products__item(src="images/dish3.jpg", alt="Plato de esparragos salteados")
      img.products__item(src="images/dish4.jpg", alt="Tostada con huevo y rucula")

  section.menu
    h2.menu__title Home menu 
    .menu__grid 
      figure.menu__item: img(src="images/plate1.png", alt="Plato de pasta con salsa")
      figure.menu__item: img(src="images/plate2.png", alt="Plato de pasta con salsa")
      figure.menu__item: img(src="images/plate3.png", alt="Plato de pasta con salsa")
      figure.menu__item: img(src="images/plate4.png", alt="Plato de pasta con salsa")
      figure.menu__item: img(src="images/plate5.png", alt="Plato de pasta con salsa")

