$color-orange: #ff9000;
$color-dark: #333333;
$color-grey: #c9c8c9;

$md: 1.6rem;
$xl: 2rem;
$xxl: 4rem;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: $md;
  font-family: 'Roboto', sans-serif;
}

.main-container {
  max-width: 1200px;
  margin: 0 auto;
}